{% extends "header_footer.html" %}
{% block content %}
    <a href="{% url 'carro:limpiar' %}" class="btn btn-secondary pt-5" type="button">Limpiar carro</a>
    {% if request.session.carro.items %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in request.session.carro.items %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td>{{ value.codigo }}</td>
                    <td>{{ value.titulo }}</td>
                    <td>
                        <div class="container">
                        <div class="row">
                            <form method="get" class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button formaction="{% url 'carro:restar' key %}" class="btn btn-warning" title="Restar">-</button>
                                    </div>
                                    <input name="{{ value.codigo }}" class="form-control" value="{{ value.cantidad }}" type="number" min="0"/>
                                    <div class="input-group-append">
                                        <button formaction="{% url 'carro:sumar' key %}" class="btn btn-warning" title="Sumar">+</button>
                                    </div>
                                </div>
                            </form>
                            <div class="col">
                                <a type="button" class="btn btn-danger" href="{% url 'carro:eliminar' key %}" title="Eliminar">X</a>
                            </div>
                        </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h3>No hay nada en el carro</h3>
    {% endif %}

    <form action="{% url 'carro:checkout' %}" 
        method="post"
        class="show-loading-after-submit" 
    >
        {% csrf_token %}
        <label for="customer">Elija el cliente de la lista:</label>
        <input list="customers" name="customer" id="customer" multiple required>
        <datalist id="customers">
            {% for customer in customers %}
            <option value="{{customer.nombre}}">
                {% endfor %}
            </datalist>
        <label for="deliveryDate">Fecha de entrega del pedido:</label>
        <input type="date" name="deliveryDate" name="my-date-input" id="my-date-input">
        <label for="comments">Comentarios del pedido:</label>
        <input name="comments" type="text">
        {% if request.user.is_authenticated %}
            <button type="submit" class="btn btn-info">Confirmar</button>
            <p>Total: ${{ total }} </p>
        {% else %}
            <a type="button" class="btn disabled">Confirmar</a>
        {% endif %}
    </form>
    <div>
        <div id="loadingModal" class="modal" style="visibility:visible; opacity: 1; display: none;">
            <div class="modal__inner p3 center" style="height:600px;">
                <h3>Please wait...</h3>
                <p>
                    Your request is processing. This might take a few moments.
                </p>
                <img src="https://s3.scoopwhoop.com/anj/loading/594155876.gif">
            </div>
          </div>
    </div>
    <script>
        var now = new Date();
        minDate = now.toISOString().substring(0,10);
        date = document.getElementById("my-date-input")
        date.setAttribute("min", minDate)
    
        function showLoadingModal(){
            loadingModal = document.getElementById('loadingModal')
            loadingModal.style.display = 'block';
        }

        //For forms: add the class "show-loading-after-submit" to any form you want to show the loader
        var formsToDelay = document.getElementsByClassName('show-loading-after-submit');
        for (var i = 0; i < formsToDelay.length; i++) {
            formsToDelay[i].addEventListener('submit', showLoadingModal);
        }

        // Not used
        function showLoader(){
            bodyEl = document.getElementsByTagName('body')
            bodyEl.append("<div><div id='loadingModal' class='modal' style='visibility:visible; opacity: 1; display: none;'><div class='modal__inner p3 center' style='height:600px;'><h3>Please wait...</h3><p>Your request is processing. This might take a few moments.</p><img src='https://s3.scoopwhoop.com/anj/loading/594155876.gif'></div></div></div>");
        }
    </script>
{% endblock %}