{% extends "header_footer.html" %}
{% block content %}
    <a href="{% url 'carro:limpiar' %}" class="btn btn-secondary" type="button">Limpiar carro</a>
    <a href="{% url 'catalogue' %}" class="btn btn-secondary" type="button">Catalogo</a>
    {% if request.session.carro.items %}
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in request.session.carro.items %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td>{{ value.codigo }}</td>
                    <td>{{ value.titulo }}</td>
                    <td>
                        <form method="get">
                            <button formaction="{% url 'carro:restar' key %}" class="btn btn-warning">-</button>
                            <input name="{{ value.codigo }}" class="form-control" value="{{ value.cantidad }}" type="number" min="0"/>
                            <button formaction="{% url 'carro:sumar' key %}" class="btn btn-warning">+</button>
                        </form>
                        <a type="button" class="btn btn-danger" href="{% url 'carro:eliminar' key %}">X</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No hay nada en el carro</p>
    {% endif %}

    <p>Cliente: </p>
    <form action="{% url 'carro:checkout' %}" method="post">
        {% csrf_token %}
        <label for="customer">Choose your curtomer from the list:</label>
        <input list="customers" name="customer" id="customer" multiple style="width: 500px;">
            <datalist id="customers">
                {% for customer in customers %}
                <option value="{{customer.nombre}}">
                {% endfor %}
            </datalist>
        
        {% if request.user.is_authenticated %}
        <button type="submit" class="btn btn-info">Confirmar</button>
        <p>Total: ${{ total }} </p>
        {% else %}
        <a type="button" class="btn disabled">Confirmar</a>
        {% endif %}
    </form>
    {% endblock %}