{% extends "header_footer.html" %}
{% block content %}
    <h4>Pedido guardado exitosamente</h4>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Mi Sitio</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <p class="nav-link">¡Hola, [nombre del usuario]!</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cerrar sesión</a>
                </li>
            </ul>
        </nav>
{% endblock %}